
body
{
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.color{
    margin-top: 300px;
    text-align: center;
}

#random {
    margin: 20px;
    display: block;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}

.color button {
    background: none;
    outline: none;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    font-size: 30px;
}

